body {
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
}

#start {
    width: 60%;
    height: 100px;
    font-size: 30px;
}

#logo {
    margin-top: 15px;
    text-align: center;
    width: 40%;
    height: auto;
}

#cred {
    position: absolute;
    left: 25px;
    bottom: 15px;
}

#info {
    margin-top: 45px;
}